.icon__container{
    color: rgb(190, 190, 190);
    /* height: 16px;
    width: 16px; */
    /* background-color: red; */
}

.icon__container:hover{
    cursor: pointer;
}
.popupTranslate__container {
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.translate__container{
    /* background-color: red; */
    position: fixed;
    bottom: 16vh;
    
}
.translate__container select{
    padding: 5px;
    
}
.translate__icon{
    cursor: pointer;
}